$color_background_html:#181818;

$color_background_body:#f3f3f3;

$color_background_header:#ededed;

$color_titles: #222;

$color_text:#444;

$color_text_inverted:#fff;

$color_section_border: #dedede;