/**
  The partials folder contains code that output css
  Here we say 'rule = var'
  Contains base rules
*/
@import "../vars/_all";

html, body {
  background: $color_background_html;
  font-family: $font_default;
  font-size: 16px;
  color: $color_titles;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: $color_text;
}

a {
  text-decoration: none;
}