/**
  States of elements
  Only place where "!important" is good to use
  Defines a final state of an element, there should not be two states on an element

  States can be :
  class names
  pseudo-class
  media queries

  Primarily used by JavaScript

  identifiers have to say what is the intention of the rule :
  .is-loading {}
  .is-collapsed {}

  When the state relates to a module
  .is-btn-active {}
  .is-btn-disabled {}
*/



//Media-queries

@media all and (min-width: 663px) and (max-width: 740px) {
  #cv {
    margin: 0;
    width: 100%;
  }

  #headshot {
    display: none;
  }

  .mainArea{
    padding: 0 10px;
  }

  //.keySkills {
  //  -moz-column-count: 3;
  //  -webkit-column-count: 3;
  //  column-count: 3;
  //}
}

@media all and (max-width: 662px){
  #cv {
    margin: 0;
    width: 100%;
    //min-width: 280px;
  }

  .name .name-title{
    width: 100%;
    margin-bottom: 15px;
  }

  .section {
    display:flex;
    flex-flow: column wrap;

    .sectionContent{
      width: 100%;
    }
  }

  .mainArea{
    padding: 0 10px;
  }
}

@media all and (min-width: 311px) and (max-width: 662px) {

  .sectionTitle, .sectionContent {
    float: none;
    width: 100%;
  }

  .sectionTitle {
    margin-left: -2px;
    font-size: 1.25em;
    padding-bottom: 5px;
  }

  .keySkills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    .skill-fw{
      padding-bottom: 5px;
    }
  }
}

@media all and (max-width: 595px){
  //#contactDetails{
  //  width: 50%;
  //  display: block;
  //  margin: auto;
  //}

  .mainDetails{
    display: flex;
    flex-flow: column wrap;
    .name .name-title{
      text-align: center;
      width: 100%;
    }

    #contactDetails {
      width: 100%;
      text-align: center;
    }
  }
}

@media all and (max-width: 320px) {
  
  .keySkills {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;

    .skill-fw{
      padding-bottom: 5px;
    }
  }

  #name h1 {
    line-height: .8em;
    margin-bottom: 4px;
  }
}