@font-face {
  font-family: 'Rokkitt';
  src: url('../fonts/rokkitt/Rokkitt.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


