doctype html
// Don't forget to add the theme name as a class of the root tag
html.theme-orange
    head
        title Zacaria Chtatar
        meta(name="viewport", content="width=device-width")
        meta(name="description", content="The Curriculum Vitae of Zacaria Chtatar.")
        meta(charset="UTF-8")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(type="text/css", rel="stylesheet", href="styles/css/main.css")
        script(src="scripts/live.js")
    body#top
        #cv
            .mainDetails
                //#headshot
                //  img(src="headshot.jpg", alt="Zacaria Chtatar")
                .name
                    h1.name-title Développeur
                        br
                        | Full-stack JavaScript
                #contactDetails
                    ul
                        li
                            i.fa.fa-user.fa-fw
                            | &nbsp;Zacaria Chtatar,&nbsp;21 ans
                        li
                            i.fa.fa-home.fa-fw
                            | &nbsp;-
                            br
                            | &nbsp;-
                        li
                            i.fa.fa-envelope-o.fa-fw
                            a(href="mailto:zacaria.chtatar@viacesi.fr", target="_blank") &nbsp;zacaria.chtatar@viacesi.fr
                        li
                            i.fa.fa-phone.fa-fw
                            | &nbsp;-
                .clear
            .mainArea
                section.section
                    .sectionTitle
                        h1 Formation
                    .sectionContent
                        article
                            h2 Exia.Cesi, Rouen
                            p.sectionSubDetails 2011 - 2016
                            p
                                | Actuellement en 4ème année d'Ingénierie Logicielle
                                br
                                | Diplôme en préparation : Manager des Systèmes d'Information
                        article
                            h2 Baccalauréat S - spécialité mathématiques
                            p.sectionSubDetails 2011
                            p Lycée André Malraux, Gaillon
                    .clear
                section.section
                    article
                        .sectionTitle
                            h1 Expérience Professionnelle
                        .sectionContent
                            article
                                h2 Développeur Web, Sokrate - Rouen
                                div
                                    span.sectionSubDetails Septembre 2014 - Février 2015
                                    ul.tags
                                        li.tag PHP
                                        li.tag JavaScript
                                        li.tag WebServices
                                        li.tag Azure
                                        li.tag Sécurité
                                p
                                    | Réalisation de la documentation BabylonJS : doc.babylonjs.com
                                    br
                                    | Réalisation d'une interface d'administration d'application mobile pour le Crédit Agricole Normandie Seine
                            article
                                h2 Développeur Web, Laboratoire IRISE CESI - Rouen
                                div
                                    span.sectionSubDetails Janvier - Mars 2014
                                    ul.tags
                                        li.tag PHP
                                        li.tag JavaScript
                                        li.tag CSS3
                                        li.tag MySql
                                        li.tag Domotique
                                p
                                    | Participation au projet CREST (Développement durable, living-lab)
                                    br
                                    | Travail sur l'interface de visualisation de données
                            article
                                h2 Développeur Web, Onouo - Rouen
                                div
                                    span.sectionSubDetails Juin - Juillet 2013
                                    ul.tags
                                        li.tag PHP
                                        li.tag Magento
                                        li.tag MySql
                                        li.tag WebServices
                                        li.tag Linux
                                p
                                    | Réalisation de deux sites e-commerce sous Magento :
                                    br
                                    | www.lange.fr/eshop
                                    br
                                    | www.sartore.fr/eshop
                            article
                                h2 Développeur Web, Université de Portsmouth - GB
                                div
                                    span.sectionSubDetails Septembre - Décembre 2012
                                    ul.tags
                                        li.tag PHP
                                        li.tag MySql
                                        li.tag Merise
                                p
                                    | Réalisation d'une application web à but pédagogique
                                    br
                                    | Système de questionnaire construit par le professeur à destination d'étudiants
                    .clear
                section.section
                    .sectionTitle
                        h1 Compétences
                    .sectionContent
                        ul.keySkills
                            li
                                span.skill-fw HTML5
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                            li
                                span.skill-fw CSS3
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li
                                span.skill-fw SASS
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li
                                span.skill-fw NodeJs
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li
                                span.skill-fw JQuery
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li
                                span.skill-fw PHP
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half-o
                                i.fa.fa-star-o
                            li
                                span.skill-fw AngularJs
                                i.fa.fa-star
                                i.fa.fa-star-half-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li
                                span.skill-fw BDD
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li
                                span.skill-fw UML
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                    .clear
                section.section
                    .sectionTitle
                        h1 Informations Complémentaires
                    .sectionContent
                        p
                            | Certifié Cisco CCENT
                            br
                            | Maitrise anglais courant : TOEIC 860
                            br
                            | Permis B, avec véhicule
                            br
                            | Karaté : ceinture marron, Théâtre : 5 ans
                    .clear