.name {
  float: left;

  .name-title {
    line-height: 1.3em;
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    margin-bottom: -6px;
    width: 350px;
  }

  .name-sub-title {
    font-size: 2em;
    margin-left: 2px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  }
}

#headshot {
  width: 12.5%;
  float: left;
  margin-right: 30px;

  img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
}

#contactDetails {
  float: right;

  ul {
    list-style-type: none;
    font-size: 0.9em;
    margin-top: 2px;
    li {
      margin-bottom: 9px;
      color: $color_text;
      a{
        text-decoration: none;
        color: $color_text;
        @extend %transitionSlowEase;
      }
    }
  }
}