.keySkills {
  list-style-type: none;
  @include columnCount(3);
  margin-bottom: 20px;
  font-size: 1em;
  color: #444;
  ul li {
    margin-bottom: 3px;
  }
  .skill-fw {
    display: inline-block;
    width: 74px;
  }
}